<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{ base :: head}">
    <title>Home</title>
</head>

<body>

<div th:replace="~{base :: logo}"></div>

<div th:replace="~{base :: titulo('Meus Pedidos')}"></div>
<div class="container">

    <!--NAVBAR-->
    <nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
        <div class="navbar-nav">
        <a th:classappend="${status} == null ? 'active'" class="nav-item nav-link" href="/home">Todos</a>
        <a th:classappend="${status} == 'aguardando' ? 'active'" class="nav-item nav-link" href="/home/aguardando">Aguardando</a>
        <a th:classappend="${status} == 'aprovado' ? 'active'"class="nav-item nav-link" href="/home/aprovado">Aprovado</a>
        <a th:classappend="${status} == 'entregue' ? 'active'" class="nav-item nav-link" href="/home/entregue">Entregue</a>
        </div>

        <a href="/pedido/formulario"><button class="btn btn-outline-dark my-2 my-sm-0" type="">Novo</button></a>
    </nav>
    <!--/*@thymesVar id="pedidos" type="br.com.alura"*/-->
    <div class="card-header mb-3" th:each="pedido : ${pedidos}">
        <!--/*@thymesVar id="nome" type="br.com.alura.mvc"*/-->
        <!--/*@thymesVar id="status" type="br.com.alura.mvc.mudi"*/-->
        <th:block th:switch="${#strings.toString(pedido.status)}">
        <div th:case="'AGUARDANDO'" th:text="${pedido.nome}" class="card-header alert-warning"> Nome do Produto</div>
            <div th:case="'APROVADO'" th:text="${pedido.nome}" class="card-header alert-success"> Nome do Produto</div>
            <div th:case="'ENTREGUE'" th:text="${pedido.nome}" class="card-header alert-dark"> Nome do Produto</div>

        </th:block>

        <div class="card-body">

            <div class="row">
            <div class="col-12 col-sm-8 mb-3">

                <div class="row">

                <div class="col-md-6"> Valor: <span th:if="${pedido.valorNegociado} != null" th:text="${'R$ '+#numbers.formatDecimal(pedido.valorNegociado,3,'POINT',2,'COMMA')}">0</span></div>
                <div class="col-md-6"> Data de entrega: <span th:text="${#temporals.format(pedido.dataDaEntrega, 'dd/MM/yyy')}"> 10/02/2022</span></div>
                </div>


                <div>Produto</div>
                <div><input class="form-control" th:value="${pedido.urlProduto}" value="url do produto"></div>

                <div>Descriçao</div>
                <div>
                    <!--/*@thymesVar id="descricao" type="br"*/-->
                    <textarea class="form-control" th:text="${pedido.descricao}">Descriçao do pedido</textarea>
                </div>

            </div>
            <div class="col-12 col-sm-4">
                <div>
                    <img  class="img-thumbnail"th:src="${pedido.urlImg}" src="">
                </div>
            </div>
        </div>
        </div>
    </div>


</div>

</body>
</html></textarea>